:root {
    --font-color-main: #f0f8ff;
    --border-color-main: #000;
    --border-color-main-25: #00000040;
    --background-main: #110025;
    --primary-pink: #76108c;
    --primary-blue: #1B08C4;
    --primary-purple: #210240;
    --lineStyle-color: #ffffff85;
    --white-color: #ffffff;
    --white-color-25: #ffffff40;
    --terminal-theme: #BB91F3;
    --gradient-terminal: linear-gradient(313deg, #191422 0%, #1B0F35 69.58%);
    --red-color: #e56063;
    --yellow-color: #e4c030;
    --green-color: #2ec24f;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body {
    color: var(--font-color-main);
	font-family: 'Bai Jamjuree', sans-serif;
	background-color: var(--background-main);
}

strong {
    color: var(--terminal-theme);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

::selection {
    color: var(--primary-purple) !important;
    background: var(--terminal-theme);
}

.fullScreen, .fullScreenToMobile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.marginLine {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    background-image: url(../../public/favicon.png);
    background-position: center;
    background-size: 32px 32px;
}

.header {
    width: 100%;
    height: 60px;
    color: var(--font-color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font: 25px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
}

.bodyElement {
    margin: 0px 50px;
    width: 100%;
    display: contents;
}

.buttonTransparent {
    display: flex;
    font-family: 'Jura';
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    color: var(--font-color-main);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    text-decoration: none;
}

.cubleStyleLeft {
    width: 35px;
    min-width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-top: 7px solid var(--lineStyle-color);
    border-bottom: 7px solid var(--lineStyle-color);
    border-left: 7px solid var(--lineStyle-color);
    background: transparent;
}

.lineToStyleLeft {
    width: 100%;
    height: 7px;
    background-color: var(--lineStyle-color);
    position: relative;
    left: -15px;
}

.cubleStyleRight {
    width: 35px;
    min-width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-top: 7px solid var(--lineStyle-color);
    border-bottom: 7px solid var(--lineStyle-color);
    border-right: 7px solid var(--lineStyle-color);
    background: transparent;
}

.lineToStyleRight {
    width: 100%;
    height: 7px;
    background-color: var(--lineStyle-color);
    position: relative;
    left: 15px;
}

.lineStyle {
    width: 100%;
    max-width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.lineStyleRight, .lineStyleLeft {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}


.lineStyleRight {
    justify-content: flex-end;
}

.lineStyleLeft {
    justify-content: flex-start;
}

.lineStyleBottom {
    width: 60%;
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.terminal {
    padding: 20px;
    width: 580px;
    height: 380px;
    background: var(--gradient-terminal);
    box-shadow: 0px 0px 40px 0px #000000b3;
    border-radius: 20px;
    margin: auto 0px;
}

.terminalSmall {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 150px;
    background: var(--gradient-terminal);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    position: relative;
    float: right;
    top: 600px;
}

.contentTerminalSmall {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0;
}

.backGit, .backLinkedin, .backWpp {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    filter: blur(50px);
}

.backLinkedin {
    fill: rgba(229, 196, 64, 0.40);
}

.backGit {
    fill: rgba(229, 115, 117, 0.40);
}

.backWpp {
    fill: rgba(62, 198, 92, 0.40);
}

.buttonsTerminal {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redButton {
    width: 20px;
    height: 20px;
    background-color: var(--red-color);
    border-radius: 50%;
}

.yellowButton {
    width: 20px;
    height: 20px;
    background-color: var(--yellow-color);
    border-radius: 50%;
}

.greenButton {
    width: 20px;
    height: 20px;
    background-color: var(--green-color);
    border-radius: 50%;
}

.topTerminal {
    display: flex;
    align-items: center;
    justify-content: left;
}

.buttonAbaTerminal {
    opacity: 0.4;
    color: var(--font-color-main);
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 165%;
    background-color: transparent;
    border: none;
    display: inline-flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 6px solid var(--terminal-theme);
    margin-left: 20px;
    cursor: pointer;
}

.animationToWarning {
    position: relative;
    top: 0px;
    animation: jump 0.7s;
}

.moreButton {
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    margin-left: 20px;
    background-image: url(../assets/imgs/icons/more_terminal.svg);
    background-size: 20px 20px;
    cursor: pointer;
    animation: jumpRevert 0.7s;
    position: relative;
}

@keyframes jump {
    0% {
        top: 0;
    }
    20% {
        top: -10px;
    }
    40% {
        top: 0px;
    }
    60% {
        top: -10px;
    }
    80% {
        top: 0px;
    }
}
@keyframes jumpRevert {
    0% {
        top: 0;
    }
    20% {
        top: 10px;
    }
    40% {
        top: 0px;
    }
    60% {
        top: 10px;
    }
    80% {
        top: 0px;
    }
}

.columnNumber {
    display: flex;
    width: 30px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.contentTerminal {
    display: flex;
    margin-top: 25px;
    overflow: auto;
    height: 85%;
}

.contentTerminal::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.columnNumber ul {
    color: var(--white-color-25);
    font-family: 'Jura';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    text-transform: capitalize;
}

.textAreaTerminal {
    width: auto;
    max-width: 530px;
    height: 100%;
    flex-shrink: 0;
    color: var(--font-color-main);
    font-family: 'Bai Jamjuree';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    margin-left: 15px;
}

.nameTerminal {
    font-family: 'Bai Jamjuree';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 165%;
    color: var(--terminal-theme);
}

.titleTerminal {
    font-weight: 600;
}

.contentMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: row;
    
}

.backPerfil {
    width: 700px;
    height: 700px;
    background-image: url(../assets/imgs/icons/back_perfil.svg);
    background-size: 700px 700px;
}

.perfilImg {
    width: 100%;
    height: 735px;
    background-image: url(../assets/imgs/img_perfil.png);
    background-size: 735px 735px;
    position: relative;
    top: -70px;
}

.circlePerfil {
    width: 420px;
    height: 420px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    position: absolute;
    filter: blur(40px);
    opacity: 0.15;
    top: 113px;
    right: 218px;
    display: contents;
}

.gitlab_icon {
    width: 100px;
    height: 100px;
    background-image: url(../assets/imgs/icons/gitlab_button.svg);
    background-size: 100px 100px;
}

.linkedin_icon {
    width: 100px;
    height: 100px;
    background-image: url(../assets/imgs/icons/linkedin_button.svg);
    background-size: 100px 100px;
}

.wpp_icon {
    width: 100px;
    height: 100px;
    background-image: url(../assets/imgs/icons/wpp_button.svg);
    background-size: 100px 100px;
}

.lineTip {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.tipCenter {
    width: 20px;
    height: 20px;
    background-color: var(--white-color-25);
    flex-shrink: 0;
}

.lineTipCenter {
    width: 100%;
    height: 8px;
    flex-shrink: 0;
    background-color: var(--white-color-25);
}

.lineUp {
    position: relative;
    float: right;
    top: 615px;
    left: 40px;
    z-index: 2;
}
.lineDown {
    position: relative;
    float: right;
    top: 585px;
    left: 40px;
    z-index: 2;
}



.titleContents {
    color: var(--font-color-main);
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subTitleContents {
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 40px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    margin: 20px 0px;
}

.imgCardTech {
    width: 80%;
    min-height: 50px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    transition: all 0.4s;
}

.skillsAvancadas {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    flex-direction: row;
    gap: 70px;
}

.card {
    cursor: pointer;
    transition: all 0.4s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .lineCard {
    width: 100%;
    box-shadow: 0px 0px 10px 0px var(--terminal-theme);
}

.lineCard {
    width: 80%;
    height: 5px;
    background-color: var(--terminal-theme);
    margin: auto;
    transition: all 0.4s;
}

.cardBorder {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.textCard {
    width: 120px;
    height: auto;
    margin: 5px 0px;
    flex-shrink: 0;
    color: var(--font-color-main);
    text-align: center;
    font-family: 'Jura';
    font-size: 19px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: all 0.4s;
}

.icon {
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    transition: all 0.4s;
}

.html {
    background-image: url('../assets/imgs/icons/html5_icon.svg');
    background-size: contain;
}

.react {
    background-image: url('../assets/imgs/icons/react_icon.svg');
    background-size: contain;
}

.javascript {
    background-image: url('../assets/imgs/icons/js_icon.svg');
    background-size: contain;
}

.typescript {
    background-image: url('../assets/imgs/icons/typescript_icon.svg');
    background-size: contain;
}

.css {
    height: 100%;
    background-image: url('../assets/imgs/icons/css_icon.svg');
    background-size: contain;
}

.vue {
    height: 100%;
    background-image: url('../assets/imgs/icons/vue_icon.svg');
    background-size: contain;
}

.material_ui {
    height: 100%;
    background-image: url('../assets/imgs/icons/material_ui_icon.svg');
    background-size: contain;
}

.tailwind {
    height: 100%;
    background-image: url('../assets/imgs/icons/tailwind_icon.svg');
    background-size: contain;
}

.bootstrap {
    height: 100%;
    background-image: url('../assets/imgs/icons/bootstrap_icon.svg');
    background-size: contain;
}

.figma {
    height: 100%;
    background-image: url('../assets/imgs/icons/figma_icon.svg');
    background-size: contain;
}

.github {
    color: var(--red-color);
    font-size: 40px !important;
}

.linkedin {
    color: var(--yellow-color);
    font-size: 40px !important;
}

.whatsapp {
    color: var(--green-color);
    font-size: 40px !important;
}

.terminalView {
    width: 750px;
    height: 490px;
    background: var(--gradient-terminal);
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px #000000b3;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.wrapperProject {
    display: flex;
    height: 490px;
}

.wrapperCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titleProject {
    color: var(--font-color-main);
    font-family: 'Bai Jamjuree';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.leftTech {
    width: 100px;
    max-height: 100%;
    border-right: 8px solid var(--terminal-theme);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.rightTech {
    width: 100px;
    max-height: 100%;
    border-left: 8px solid var(--terminal-theme);
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 0px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
}

.rightTech::-webkit-scrollbar, .leftTech::-webkit-scrollbar {
    width: 5px;
}

.screenShare {
    color: #55be5a;
    font-size: 35px !important;
}
.githubIcon {
    color: #fff;
    font-size: 35px !important;
}

.comingSoon {
    color: var(--font-color-main);
    font-family: 'Bai Jamjuree';
    font-size: 50px;
    margin: 50px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    opacity: 1;
}

.typingAnimation {
    width: 368px;
    line-height: 130%;
    animation: typing 1.2s steps(187), blink 0.5s step-end infinite alternate;
    letter-spacing: normal;
    overflow: auto;
    border-right: 20px solid var(--white-color-25);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.typingAnimation {
    width: 368px;
    line-height: 130%;
    animation: typing 1.2s steps(187), blink 0.5s step-end infinite alternate;
    letter-spacing: normal;
    overflow: auto;
    border-right: 20px solid var(--white-color-25);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.describeProject {
    color: var(--font-color-main);
    font-family: 'Jura';
    width: 940px;
    max-height: 225px;
    height: auto;
    overflow: auto;
    font-size: 1.8rem;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    margin-top: 25px;
    line-height: 150%;
}

.describeProject::-webkit-scrollbar {
    width: 12px;
}

.imgTerminal {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.poliDigital {
    background-image: url('../assets/imgs/poli-digital.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mapaDoSaber {
    background-image: url('../assets/imgs/mapa-do-saber.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project3 {
    background-image: url('../assets/imgs/teste.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backToTop {
    width: 70px;
    height: 70px;
    background: var(--white-color-25);
    position: fixed;
    border: 0;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 65px;
    bottom: 0px;
    z-index: 9999;
    color: var(--terminal-theme);
    font-size: 40px;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transition: all 0.2s;
    animation-duration: 0.2s;
    animation-name: slidein;
    display: none;
}

.show {
    opacity: 1;
    transition: all 0.2s;
    animation-duration: 0.2s;
    animation-name: slideout;
}

@keyframes slidein {
    from {
        bottom: 0px;
    }
    to {
        bottom: -50px;
        display: flex;
    }
}

@keyframes slideout {
    from {
        bottom: -50px;
        display: flex;
    }
    to {
        bottom: 0px;
        display: none;
    }
}

.backgroundContainer {
    width: 100%;
    background-color: var(--background-main);
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.circleTop {
    width: 900px;
    height: 969px;
    background-color: var(--primary-pink);
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.3;
    position: relative;
    top: 145px;
    left: 45px;
}

.circleTop2 {
    width: 800px;
    height: 800px;
    background-color: var(--primary-purple);
    border-radius: 50%;
    filter: blur(120px);
    position: relative;
    top: -1292px;
    left: -401px;
}

.circleLeft {
    width: 950px;
    height: 2065px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.2;
    position: relative;
    top: -1579px;
    left: -166px;
    float: right;
}

.circleLeft2 {
    width: 500px;
    height: 500px;
    background-color: var(--primary-purple);
    border-radius: 50%;
    filter: blur(120px);
    position: relative;
    top: -1926px;
    left: 1680px;
}

.circleSkills {
    width: 90%;
    height: 500px;
    margin: 400px 0px;
    background-color: var(--primary-pink);
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}

.circleProject {
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: var(--primary-pink);
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}
.circleProject2 {
    width: 580px;
    height: 580px;
    margin: -933px 1575px 0px 0px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color-main);
    width: 100%;
    height: 490px;
    background: var(--gradient-terminal);
    scroll-snap-align: start;
}

.textFooter {
    display: flex;
    color: var(--font-color-main);
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    line-height: 120%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.textEmailFooter {
    display: flex;
    color: var(--font-color-main);
    font-family: 'Bai Jamjuree';
    font-size: 40px;
    font-style: normal;
    font-weight: 275;
    line-height: 150%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textEmailFooter a {
    color: var(--font-color-main);
}

.copyIcon {
    cursor: pointer;
    color: var(--terminal-theme);
    transition: all 2s;
}

.copyIcon:hover {
    color: var(--font-color-main) !important;
    transform: scale(1.1);
}

.helperCopy {
    width: 70px;
    height: 20px;
    border: 1px solid var(--terminal-theme);
    padding: 2px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border-color-main-25);
    border-radius: 8px;
    position: absolute;
    margin: 70px -355px 0px 0px;
    animation: fadein 2s;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.strongTextFooter {
    color: var(--font-color-main);
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.smallTextFooterContent {
    color: var(--font-color-main);
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.smallTextFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--white-color-25);
    border-radius: 8px;
}

scrollbar {
    width: 0px;
}

scrollbar-thumb {
    background-color: var(--white-color-25);
    border-radius: 8px;
}