@media(max-width: 375px){
    .contentMain {
        display: flex;
        flex-direction: column;
        height: 1194px;
    }

    .backToTop {
        width: 150px;
        height: 150px;
        border-radius: 80px 80px 0px 0px;
    }

    .skillsAvancadas {
        flex-direction: column;
        height: auto;
    }

    .titleContents {
        font-size: 130px;

    }

    .subTitleContents {
        font-size: 75px;
    }

    .cardBorder {
        width: 600px;
        height: 600px;
    }

    .textCard {
        width: 600px;
        font-size: 70px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fullScreen {
        height: 100%;
    }

    .icon {
        min-height: 325px;
    }

    .subTitleContents {
        margin: 90px 0px;
    }

    .header {
        scroll-snap-align: start;
    }
}