@media (max-width: 1600px) {
    .terminalSmall {
        top: 400px;
        height: 120px;
    }

    .backPerfil {
        width: 450px;
        height: 450px;
        background-size: 450px 450px;
    }

    .perfilImg {
        width: 485px;
        height: 485px;
        background-size: 485px 485px;
    }

    .gitlab_icon {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }

    .linkedin_icon {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }

    .wpp_icon {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }

    .github, .linkedin, .whatsapp {
        font-size: 30px !important;
    }

    .terminalView {
        width: 560px;
        height: 345px;
    }

    .wrapperProject {
        height: 100%;
    }

    .titleProject {
        font-size: 25px;
    }

    .screenShare, .githubIcon {
        font-size: 1.5rem !important;
    }

    .describeProject {
        max-width: 635px;
        max-height: 80%;
    }

    .leftTech {
        margin-bottom: 0px;
    }

    .rightTech {
        margin-top: 0px;
    }

    .circleTop {
        width: 800px;
        height: 800px;
        top: 50px;
        left: 25px;
    }

    .circleTop2 {
        width: 573px;
        height: 573px;
        top: -1045px;
        left: 920px;
    }

    .circleLeft {
        width: 700px;
        height: 1750px;
        top: -1522px;
        left: -85px;
    }

    .circleLeft2 {
        width: 500px;
        height: 500px;
        top: -1926px;
        left: 1680px;
    }

    .circleSkills {
        height: 90%;
        margin: 400px 0px;
    }

    .circleProject {
        height: 400px;
        margin: auto;
    }

    .circleProject2 {
        width: 400px;
        height: 400px;
        margin: -591px 984px 0px 0px;
    }

}
@media (max-width: 1250px) {
    .skillsAvancadas {
        height: auto !important;
        width: 100%;
    }
    .card {
        scale: 0.8;
    }
    .contentMain {
        flex-direction: column;
        gap: 30px;
    }
    .containerProject {
        flex-direction: column;
        gap: 0px;
        display: flex;
        justify-content: space-evenly;
        height: 100vh;
    }
    .wrapperProject {
        height: 40%;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .rightTech .wrapperCard {
        flex-direction: column;
        padding-right: 0px;
    }
    .rightTech {
        height: 100%;
        border-top: none;
        border-left: 8px solid var(--terminal-theme);
        display: flex;
        flex-direction: column;
        min-width: 20px;
        width: 105px;
        max-height: 380px;
        align-items: center;
        margin-left: 0px;
        direction: rtl;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
    }
    .leftTech {
        width: 105px;
        height: 100%;
        min-height: 380px;
        border-bottom: none;
        border-right: 8px solid var(--terminal-theme);
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .wrapperCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .describeProject {
        max-width: 950px;
        width: 100%;
        height: 40%;
        margin-bottom: 75px;
    }
    .terminal {
        width: 580px !important;
        height: 325px !important;
        border-radius: 10px !important;
        padding: 10px !important;
        margin: 0px !important;
    }
    .buttonsTerminal {
        width: 65px !important;
        margin-bottom: 8px !important;
    }
    .redButton {
        width: 15px !important;
        height: 15px !important;
    }
    .yellowButton {
        width: 15px !important;
        height: 15px !important;
    }
    .greenButton {
        width: 15px !important;
        height: 15px !important;
    }
    .buttonAbaTerminal {
        font-size: 15px !important;
        border-bottom: 4px solid var(--terminal-theme) !important;
    }
    .titleTerminal {
        font-size: 20px !important;
    }
    .Typewriter__wrapper {
        font-size: 28px !important;
    }
    .columnNumber ul {
        font-size: 25px !important;
        line-height: 136% !important;
    }
    .textAreaTerminal {
        max-width: 500px !important;
        line-height: 85% !important;
    }
}
@media (max-width: 940px) {
    .skillsAvancadas {
        flex-direction: column !important;
        height: auto !important;
    }
    .terminalSmall {
        top: 400px;
        height: 120px;
    }
    .terminalView {
        width: 680px !important;
        height: 630px !important;
    }
    .describeProject {
        width: 680px !important;
        max-height: 150px !important;
        margin: 0px !important;
        font-size: 1.8rem !important;
    }
    .titleProject {
        font-size: 20px !important;
    }
    .moreButton {
        width: 15px !important;
        height: 15px !important;
        background-size: 15px 15px !important;
    }
    .fullScreenToMobile {
        height: 100% !important;
    }
    .wrapperProject {
        flex-direction: column;
        height: 700px !important;
    }
    .wrapperCard {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 120px !important;
    }
    .leftTech, .rightTech {
        max-height: 100px !important;
        width: 100% !important;
        border-right: none !important;
        border-left: none !important;
        padding: 0px !important;
        height: 200px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .leftTech {
        margin: 0px 0px 10px 0px !important;
        border-bottom: 5px solid var(--terminal-theme);
        justify-content: flex-start !important;
    }
    .rightTech {
        margin: 10px 0px 0px 0px !important;
        border-top: 5px solid var(--terminal-theme);
        justify-content: flex-start !important;
    }
    .rightTech::-webkit-scrollbar, .leftTech::-webkit-scrollbar {
        height: 5px;
    }
    .footer {
        height: 355px !important;
    }
    .textFooter {
        font-size: 35px !important;
    }
    .textEmailFooter {
        font-size: 25px !important;
    }
    .smallTextFooterContent {
        font-size: 15px !important;
    }
    .smallTextFooter {
        gap: 5px !important;
    }
    .helperCopy {
        margin: 70px -230px 0px 0px !important;
    }
}
@media (max-width: 760px) {
    .terminal {
        width: 560px !important;
        height: 230px !important;
    }
    .terminalSmall {
        top: 400px;
        height: 120px;
    }
    .terminalView {
        width: 510px !important;
        height: 630px !important;
    }
    .describeProject {
        width: 510px !important;
        max-height: 150px !important;
        margin: 0px !important;
        font-size: 1.8rem !important;
    }
    .titleProject {
        font-size: 20px !important;
    }
    .moreButton {
        width: 15px !important;
        height: 15px !important;
        background-size: 15px 15px !important;
    }
    .fullScreenToMobile {
        height: 100% !important;
    }
    .wrapperProject {
        height: 570px !important;
    }
    .wrapperCard {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 120px !important;
    }
    .leftTech, .rightTech {
        max-height: 100px !important;
        width: 100% !important;
        border-right: none !important;
        border-left: none !important;
        padding: 0px !important;
        height: 200px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .leftTech {
        margin: 0px 0px 10px 0px !important;
        border-bottom: 5px solid var(--terminal-theme);
        justify-content: flex-start !important;
    }
    .rightTech {
        margin: 10px 0px 0px 0px !important;
        border-top: 5px solid var(--terminal-theme);
        justify-content: flex-start !important;
    }
    .rightTech::-webkit-scrollbar, .leftTech::-webkit-scrollbar {
        height: 5px;
    }
}
@media(max-width: 600px) {
    .buttonTransparent {
        font-size: 15px !important;
    }
    .contentMain {
        flex-direction: column !important;
        height: 75% !important;
        justify-content: center !important;
    }
    .skillsAvancadas {
        flex-direction: column !important;
        height: auto !important;
    }
    .terminal {
        width: 325px !important;
        height: 170px !important;
        border-radius: 10px !important;
        padding: 10px !important;
        margin: 0px !important;
    }
    .buttonsTerminal {
        width: 65px !important;
        margin-bottom: 8px !important;
    }
    .redButton {
        width: 15px !important;
        height: 15px !important;
    }
    .yellowButton {
        width: 15px !important;
        height: 15px !important;
    }
    .greenButton {
        width: 15px !important;
        height: 15px !important;
    }
    .buttonAbaTerminal {
        font-size: 10px !important;
        border-bottom: 4px solid var(--terminal-theme) !important;
    }
    .titleTerminal {
        width: 210px !important;
        font-size: 20px !important;
    }
    .Typewriter__wrapper {
        font-size: 20px !important;
    }
    .columnNumber ul {
        font-size: 25px !important;
        line-height: 136% !important;
    }
    .textAreaTerminal {
        max-width: 275px !important;
        line-height: 85% !important;
    }
    .backPerfil {
        width: 100% !important;
        height: 275px !important;
        background-size: 275px 275px !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .perfilImg {
        width: 100% !important;
        height: 300px !important;
        background-size: 300px 300px !important;
        top: -40px !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    .terminalSmall {
        padding: 8px 5px 20px 5px !important;
        top: 235px !important;
        height: 80px !important;
        width: 305px !important;
        border-radius: 10px !important;
        gap: 10px;
    }
    .terminalView {
        width: 100% !important;
        height: 210px !important;
        margin: 20px 0px;
    }
    .describeProject {
        width: 330px !important;
        max-height: 400px !important;
        margin: 0px !important;
        max-width: 85% !important;
    }
    .describeProjectTextContainer {
        font-size: 1.2rem !important;
        max-height: 100% !important;
        line-height: 1.2 !important;
        text-align: start !important;
    }
    .titleProject {
        font-size: 20px !important;
    }
    .moreButton {
        width: 15px !important;
        height: 15px !important;
        background-size: 15px 15px !important;
    }
    .fullScreenToMobile {
        height: 100% !important;
    }
    .wrapperProject {
        flex-direction: column;
        height: 65% !important;
        padding: 20px 0px !important;
    }
    .comingSoon {
        font-size: 35px !important;
        text-align: center !important;
    }
    .wrapperCard {
        justify-content: space-around;
        flex-direction: row !important;
        align-items: center;
        width: 100%;
        height: 65px !important;
        gap: 20px !important;
        padding: 10px 0px 0px 0px !important;
    }
    .leftTech, .rightTech {
        max-height: 85px !important;
        width: 100% !important;
        border-right: none !important;
        border-left: none !important;
        padding: 0px !important;
        height: 200px;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start !important;
        min-height: 60px !important;
    }
    .leftTech {
        border-bottom: 5px solid var(--terminal-theme);
        margin: 0px !important;
    }
    .rightTech {
        margin: 0px 0px 10px 0px !important;
        border-top: 5px solid var(--terminal-theme);
    }
    .rightTech::-webkit-scrollbar, .leftTech::-webkit-scrollbar {
        height: 5px;
    }
    .subTitleContents {
        font-size: 35px !important;
    }
    .backToTop {
        right: 25px !important;
    }
    .contentTerminal {
        height: 81% !important;
        margin-top: 10px !important;
    }
    .github, .linkedin, .whatsapp {
        font-size: 24px !important;
    }
    .footer {
        height: 220px !important;
    }
    .textFooter {
        font-size: 20px !important;
    }
    .textEmailFooter {
        font-size: 15px !important;
    }
    .smallTextFooterContent {
        font-size: 10px !important;
    }
    .smallTextFooter {
        gap: 3px !important;
        font-size: 12px !important;
    }
    .helperCopy {
        margin: 56px -143px 0px 0px !important;
        width: 57px;
        height: 15px;
        font-size: 12px;
    }
    .containerProject {
        width: 100% !important;
        height: 100% !important;
    }
    .Typewriter__cursor {
        font-size: 20px !important;
    }
    .titleDescribe {
        font-size: 16px !important;
    }
    .describeProjectText {
        font-size: 20px !important;
    }
}
@media (max-width: 380px) {
    .perfilImg {
        height: 260px !important;
        background-size: 260px 260px !important;
    }
    .terminalSmall {
        padding: 10px 5px 15px 5px !important;
        height: 85px !important;
        top: 200px !important;
    }
}
@media (max-width: 425px) {
    .textEmailFooter {
        font-size: 13px !important;
    }
    .terminal {
        height: 230px !important;
    }
    .terminalView {
        width: 350px !important;
        height: 230px !important;
        min-height: 230px !important;
    }
    .terminalSmall {
        padding: 15px 5px 15px 5px !important;
        width: 325px !important;
        height: 95px !important;
        left: 11px !important;
    }
    .wrapperProject {
        height: 435px !important;
    }
    .describeProject {
        width: 290px !important;
    }
    .perfilImg {
        width: 96% !important;
    }
    .subTitleContents {
        font-size: 30px !important;
    }
    .helperCopy {
        margin: 56px -122px 0px 0px !important;
    }
    .leftTech, .rightTech {
        max-height: 75px !important;
        min-height: 75px !important;
    }
    .comingSoon {
        height: 100% !important;
    }
    .comingSoonText {
        margin: 85px 0px !important;
        display: block !important;
    }
}